<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Music Player</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="playerBox">
  <audio id="player" controls="controls">
    <source class="source" src=""/>
  </audio>
</div>

<div class="titleBox">
  <div class="text custom">你的音樂 </div>
  <div class="text cutie">學長之歌 </div>
  <div class="text jy">JY的推薦</div>
</div>
<div class="musicBox">
  <div id="app" class="musicList">
      <div class="musicItem" v-for="item in music_list3" @click="" v-on:click="choose($event,item.id)">${item.text}</div>
  </div>
  <div id="app2" class="musicList">
      <div class="musicItem" v-for="item in music_list2" @click="" v-on:click="choose($event,item.id)">${item.text}</div>
  </div>
  <div id="app3" class="musicList">
      <div class="musicItem" v-for="item in music_list" @click="" v-on:click="choose($event,item.id)">${item.text}</div>
  </div>
</div>

<div class="loop" id="loop">單曲循環</div>



<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
