@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}


.body, html {
  height: 100%;
  padding: 20px;
}

.playerBox {
  margin-top: 50px;
  margin-left: 15px;
}

#player:focus {
  outline: none ;
  background-color: #444;
}
.playerBox audio {
  width: 30%;
}

.musicBox, .titleBox{
  /* border: solid red;  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.musicBox{
  padding: 15px;
  margin-top: 5px;
}

.titleBox{
  margin-top: 15px;
}

.text{
  width: 30%;
  text-align: center;
  margin-top: 20px;
  color: #444;
}

.musicList {
  /* border: solid blue; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.musicItem {
  width: 100%;
  height: 26px;
  margin-top: 5px;
  background-color: #444;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-size: 9px;
}
.musicList .musicItem:hover {
  background-color: #f1f3f4;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  color: #444;
}

.loop{
  width: 80px;
  height: 30px;
  border-top: solid #444 1px;
  border-bottom: solid #444 1px;
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #444;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.loop:hover{
  background-color: #444;
  color: #fff;
}
